<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{index :: head}">
        <meta charset="UTF-8">
        <title>Career Detail</title>
    </head>
    <body>
        <header th:insert="~{index :: header}"></header>
        <div th:replace="~{index :: nav}"></div>
        
        <div class="detail-container">
            <div class="page-container">
                <div class="detail-content">
                    <header class="section-header">
                        <h1 class="section-header__title">Request</h1>
                    </header>

                    <div class="review-detail">
                        <h2 class="review-detail__title text-center" th:text="${request.user.username}">Username</h2>
                        
                        <div class="review-detail__content-section">
                            <p th:text="${request.body}">Body</p>
                        </div>

                        <div class="review-detail__actions">
                            <form th:action="@{/operations/career/request/accept/{id}(id=${request.id})}" method="POST">
                                <button type="submit" class="button button--success">
                                    Accept
                                </button>
                            </form>
                            <a th:href="@{/admin/dashboard}" class="button button--primary">
                                Back to Dashboard
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div th:replace="~{index :: footer}"></div>
        <script th:replace="~{index :: bootscripts}"></script>
    </body>
</html>
